extends layout

block content
  h1= title
  p Welcome to #{title}
  h2= subtitle
  p This is an ExpressJS web application using JADE template which contains the pages for my portfolio website to show the details.
  
